# Empty folders
bin/
build/
latex/
lib/
!src/lib/
ntuples/
scripts/mvaopticut.sh
scripts/eos.sh
scripts/log
scripts/tables
# Stuff to control RapidFit
fits/*/Foam-*.root
fits/*/RapidFitOutput*/*
fits/*/*/RapidFitOutput*/*
fits/datafits/*
fits/mcfits/*
fits/toystudies/*
fits/*.xml
fits/*.root
# TMVA stuff
mva/.__afs*
mva/TMVA*root
mva/plots/*
mva/weights/*
mva/*.d
mva/*.so
mva/*.pcm
mva/AutoDict*
