[submodule "common"]
	path = common
	url = git@github.com:abmorris/common.git
[submodule "CloneTagger"]
	path = CloneTagger
	url = git@github.com:abmorris/CloneTagger.git
[submodule "RapidFit"]
	path = RapidFit
	url = git@github.com:abmorris/RapidFit.git
